.signup {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 80px;
  color: blueviolet;
}
.seller-sign-up {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
  color: rgb(89, 35, 135);
}
.seller-login{
   text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
  color: rgb(113, 52, 166);
}