.nav {
  display: flex;
  justify-content: space-between;
}

.nav h1 {
  color: blueviolet;
  margin: 0;
  font-size: 35px;
}

.nav ul {
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  padding-left: 15px;
  padding-top: 15px;
}

.nav li a {
  text-decoration: none;
  color: blueviolet;
}

.nav .nav-search {
      margin-top: 1%;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}


.nav .nav-search.input {
  flex: 1;
  color: blueviolet;
  border: 1px solid blueviolet;
  height: 35px;
  border-right: 0px;
}

.nav .nav-search.button {
  color: blueviolet;
  border: 1px solid blueviolet;
  height: 36px;
  border-left: 0px;
}

/* .common-form input {
  height: 35px;
  margin-bottom: 20px;
  padding-left: 10px;
  border: 1px solid blueviolet;
  color: blueviolet;
} */

.common-form {
  text-align: center;
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 300px;
}
.form-input {
  height: 35px;
  margin: 20px;
  padding-left: 10px;
  border: 1px solid blueviolet;
  color: blueviolet;
}
.form-button {
  height: 35px;
  margin: 20px;
  padding-left: 10px;
  border: 1px solid blueviolet;
  color: blueviolet;
  curser: pointer;
}
